@font-face {
    font-family: neueHaasDisplayRoman;
    src: url(../Font/NeueHaasDisplayRoman.ttf);
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
     width: 100%;
     padding: 0rem 10rem;
     height: 10vh;
     background: #F9F9F9 0% 0% no-repeat padding-box;


    .checkbox{
        display: none;
    }

    .nav-links{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        padding-left: 10px;
    
        .nav-link{ 
            font-family: neueHaasDisplayRoman;
            
            font-size: 1rem;
            list-style-type:none ;
                a{
                    padding:1rem .9rem;
                    color: #323A45;
                    text-decoration: none;
                    // font-family: 'Karla', sans-serif;
                }
                a:hover{
                    background: rgba(190,22,34,1);
                    color: #fff;
                    border-radius: 4px;
            }
         }
    }

}

.header{
    background: url(../img/component.png)no-repeat center   ;
    background-size: cover;
    height: 75.3vh;
    position: relative;
    top: -39px;

        &__inputs{
            position: relative;
            top: 35.5vh;
        }
        &__p{
            color: #fff;
            font-size: 48px;
            position: absolute;
            top: -55px;
            left: 11vw;
            z-index: 1;
            padding-bottom: 15%;
        
        }
        &__div{
            text-align: center;
            background: #1d1d1ba4;
            height: 35vh;
            padding-top: 5vh;
        
                .header__form{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 83%;
                    margin: 0 8rem;   
            }
    }
    &__submit{
            background: none;
            color: #fff;
            border: 1px solid rgba(190,22,34,1);
            padding: 1rem 2rem;
            font-size: 18px;
            margin: 3rem 0 0 63rem;
    }
    &__input{
            background: #FFFFFFD1 0% 0% no-repeat padding-box;
            border: 1px solid #A2A2A2;
            height: 5vh;
            width: 17.5vw;
            padding: 0 0.7rem;
            color: black;
            margin-top: 5%;
    }
}


.willkommen{
    height: 70vh;
    margin-left: 20rem;
    direction: ltr;
    color: #1D1D1B;
    opacity: 1;
    &__text{
        font-size: 48px;
        width: 50%;
        font-family: 'Karla', sans-serif;;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    &__p{
        padding-top: 12px;
        font-size: 16px;
        color: #1D1D1B;
        line-height: 1.8;
        font-family: neueHaasDisplayRoman;
        
    }
}