@font-face {
	font-family: NeueHaasDisplayBold;
	src: url(../Font/NeueHaasDisplayBold.ttf);
}
@font-face {
	font-family: NeueHaasDisplayRoman;
	src: url(../Font/NeueHaasDisplayRoman.ttf);
}
@font-face {
	font-family: NeueHaasDisplayXThin;
	src: url(../Font/NeueHaasDisplayXThin.ttf);
}
@font-face {
	font-family: NeueHaasDisplayXXThin;
	src: url(../Font/NeueHaasDisplayXXThin.ttf);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.nav {
	position: fixed;
	height: 70px;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
	z-index: 1;
	background-color: #f9f9f9;
	backdrop-filter: blur(5px);
	.Logo {
		padding-left: 10rem;
	}
	.menu-btn {
		display: none;
	}
	.menu-items {
		list-style: none;
		display: flex;
		align-items: center;
		padding-right: 7rem;

		.menu-item {
			font-size: 1rem;
			padding: 1em;
			transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
			text-decoration: none;
			color: #111111;
			font-size: 16px;
			font-weight: bold;
			font-family: neueHaasDisplayRoman;
			&:hover {
				background-color: #be1622;
				color: #f9f9f9;
			}
		}
		.extra_menu_mobile_container {
			display: none;
		}
	}
}

.header {
	margin: 0;
	padding: 70px 0 0 0;
	background: url(../img/component.png) 15% no-repeat;
	background-size: cover;
	height: 604px;
	display: flex;
	align-items: flex-end;

	.header_background_container {
		background-color: #11111195;
		height: 36.5vh;
		width: 100%;
		.header_data_container {
			position: relative;
			width: 70%;
			margin: 0.25rem auto;
			p {
				color: #fff;
				font-size: 48px;
				&.header__p {
					position: absolute;
					top: -3rem;
				}
			}
			.header__form {
				display: flex;
				flex-direction: column;
				padding-top: 5rem;
				.header_input_container {
					display: flex;
					margin: 0 -15px;
                    #select{
                        color: rgba(0, 0, 0, 0.63);
                        font-size: 16px;
                        padding-right: 2rem;
                     }
					.header__input {
						width: 25%;
						height: 40px;
						margin: 0 15px;
                        font-size: 16px;
                        padding-left: 1rem;
					}
				}
				.header__submit {
					align-self: flex-end;
					margin-top: 15px;
					background: none;
					color: #fff;
					border: 1px solid rgba(190, 22, 34, 1);
					padding: 1rem 2rem;
					font-size: 18px;
				}
				.header__submit:hover {
					background-color: #be1622;
					color: #f2f2f2;
				}
			}
		}
	}
}

.willkommen {
	height: 70vh;
	padding: 5rem 0 0 0;
	direction: ltr;
	color: #1d1d1b;
	opacity: 1;
		&__text {
			font-size: 48px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 8em;
			font-family: NeueHaasDisplayXXThin;
	}
		&__p {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1rem 0 0 4rem;
			font-size: 16px;
			color: #1d1d1b;
			line-height: 1.8;
			font-family: neueHaasDisplayRoman;
	}
}

.main {
	background-color: #f2f2f2;
	padding: 8rem 0 6rem 0;

		&__div-überschrift {
			margin: 0 0 5vh 11vw;
			padding: 0 0 0 1rem;
			border-left: 4px solid rgba(190, 22, 34, 1);
	}
		&__projekte {
			color: rgba(190, 22, 34, 1);
			font-size: 16px;
			font-family: NeueHaasDisplayBold;
	}
		&__aktuelle {
			font-size: 40px;
			font-family: NeueHaasDisplayXXThin;
	}
		&__section {
			display: grid;
			width: 90%;
			grid-template-columns: repeat(3, 1fr);
			padding: 0 0 0 10rem;
	}
		&__cart {
			height: 489px;
			width: 350px;
			margin: 2rem 0 0 1rem;
			background: #fff;
	}
		&__cart-img {
			height: 200px;
			width: 100%;
	}
		&__figcaption::before {
			content: '';
			border: 3px solid #be1622;
			width: 10%;
			margin-top: -6px;
			position: absolute;
	}
		&__cart-p {
			font-size: 22px;
			padding: 12px;
			font-family: NeueHaasDisplayXXThin;
	}
		&__objekt {
			padding-right: 3rem;
	}
		&__objekt,
		&__wohnfläche {
			font-size: 15px;
			padding: 10px;
			color: #85857b;
			font-family: neueHaasDisplayRoman;
	}
		&__nummer,
		&__circa {
			font-size: 17px;
			padding: 10px;
			color: #000000;
			font-family: NeueHaasDisplayBold;
	}
		&__span-hell-1 {
			padding-left: 7.3rem;
	}
		&__span-hell-2 {
			padding-left: 6.9rem;
	}
		&__span-dunkel-1 {
			padding-left: 7.8rem;
	}
		&__span-dunkel-2 {
			padding-left: 7rem;
	}
		&__mehre-rfahren {
			display: flex;
			border-top: 2px solid #64645b2a;
			padding-top: 1rem;
	}
		&__button {
			color: rgba(190, 22, 34, 1);
			background: none;
			border: none;
			font-size: 16px;
			padding-left: 6.5em;
			font-weight: bold;
	}
		&__phone-icon {
			padding-left: 0.7rem;
			color: #85857b;
			opacity: 0.4;
	}
}

.rechteck33 {
	display: flex;
	background-color: #484c55;
	height: 1074px;
	position: relative;
	padding-top: 15vh;

		&__text {
			position: absolute;
			margin: 25vh 0vh 0 65vh;
			background-color: #484c55;
			z-index: 0;
	}
		&__bild {
			z-index: 0;
	}
		&__img {
			height: 70vh;
			width: 55vw;
			margin-left: -4.3vh;
	}
		&__weiß {
			margin: 5vh 0 5vh 14vh;
			padding: 0 1rem;
			border-left: 4px solid #f2f2f2;
	}
		&__15 {
			color: #be1622;
			font-size: 16px;
			font-family: NeueHaasDisplayBold;
	}
		&__mehr-wohn {
			font-size: 40px;
			color: #f2f2f2;
			font-family: NeueHaasDisplayXXThin;
			width: 80%;
	}
		&__p {
			font-size: 16px;
			color: #f2f2f2;
			font-family: neueHaasDisplayRoman;
			padding-left: 8rem;
			width: 85%;
			line-height: 1.6;
	}
}

.rechteck35 {
	height: 70vh;
	margin: 8rem 0 5vh 20rem;
	direction: ltr;
	color: #1d1d1b;
	opacity: 1;
		&__überschrift {
			padding: 0 1rem;
			border-left: 4px solid #be1622;
	}
		&__rot {
			color: #be1622;
			font-size: 16px;
			font-family: NeueHaasDisplayBold;
	}
		&__marktrecht {
			font-size: 40px;
			color: #1d1d1b;
			font-family: NeueHaasDisplayXXThin;
			width: 80%;
	}
		&__p {
			font-family: neueHaasDisplayRoman;
			font-size: 16px;
			line-height: 1.8;
			padding: 1.5rem 23rem 0 1.5rem;
	}
		&__button {
			font-size: 16px;
			border: 1px solid #be1622;
			color: #be1622;
			padding: 1.1rem 2rem;
			background: none;
			font-family: NeueHaasDisplayBold;
			margin: 3rem 0 0 1.3rem;
	}
		&__button:hover {
			background-color: #be1622;
			color: #f2f2f2;
	}
}

.rechteck37 {
	display: flex;
	background-color: #d5d5d5;
	height: 784px;
		&__div-img,
		&__div-text {
			width: 50%;
	}
		&__img {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 82%;
			margin: 6rem 6rem;
	}
		&__überschrift {
			margin: 17vh 0 0vh 1vw;
			padding-left: 1rem;
			border-left: 4px solid rgba(190, 22, 34, 1);
	}
		&__rot {
			color: #be1622;
			font-size: 16px;
			font-family: NeueHaasDisplayBold;
	}
		&__unser {
			font-size: 40px;
			font-family: NeueHaasDisplayXXThin;
			width: 70%;
	}
		&__ul {
			padding: 2rem 0 0 3rem;
	}
		&__item {
			font-size: 16px;
			font-family: neueHaasDisplayRoman;
			line-height: 1.3;
			opacity: 0.7;
			list-style-type: none;
				&::before {
				content: '.';
				color: #be1622;
				padding-right: 15px;
				font-size: 30px;
		}
	}
}

.rechteck45 {
	background-color: #f2f2f2;
	height: 775px;
		&__überschrift {
			display: flex;
	}
		&__data,
		&__inputs-div {
			width: 50%;
	}
		&__text {
			color: #85857b;
			font-size: 40px;
			font-family: NeueHaasDisplayBold;
			padding: 8rem 0 3rem 8rem;
	}
		&__ul {
			padding: 0.1rem 8rem;
			list-style-type: none;
			line-height: 1.9;
	}
		&__item {
			font-size: 16px;
			font-family: neueHaasDisplayRoman;
			opacity: 0.8;
	}
		&__inputs-div {
			gap: 10px;
	}
		&__text-input,
		&__text-input2 {
			height: 40px;
			width: 270px;
			padding-left: 0.8rem;
			font-size: 16px;
	}
		&__text-input2 {
			margin: 0 0 1.3rem 1.8rem;
			padding-left: 0.8rem;
			font-size: 16px;
	}
		&__email-input {
			height: 40px;
			width: 574px;
			margin-bottom: 1.3rem;
			padding-left: 0.8rem;
			font-size: 16px;
	}
		&__nachricht-input {
			height: 25vh;
			padding-bottom: 20vh;
			padding-left: 0.8rem;
			width: 574px;
			color: #000;
			font-size: 16px;
	}
		&__button {
			font-size: 16px;
			border: 1px solid #be1622;
			color: #be1622;
			padding: 1.1rem 2rem;
			background: none;
			font-family: NeueHaasDisplayBold;
			margin: 3rem 0 3rem 22.8rem;
	}
			&__button:hover {
				background-color: #be1622;
				color: #f2f2f2;
	}
}

.footer {
	display: flex;
	padding: 1rem 0 0 8rem;
	width: 100%;
	font-family: NeueHaasDisplayBold;
	color: rgba(0, 0, 0, 0.657);
		&__img {
			width: 82px;
			height: 17px;
			margin-left: 3rem;
	}
		&__ul {
			display: flex;
			list-style-type: none;
				&::before {
				content: '';
				border: 0.2px solid #85857b;
				width: 80.7%;
				position: absolute;
				margin-top: -2rem;
		}
	}
		&__Impressum {
			padding-left: 46rem;
	}
		&__datenschutz {
			padding-left: 3rem;
	}
}

@media screen and (max-width: 480px) {
	.nav {
		.Logo {
			width: 171px;
			height: 33px;
			padding: 0;
		}
		.menu-items {
			position: fixed;
			flex-direction: column;
			top: 4rem;
			right: 0;
			left: 0;
			bottom: 0;
			height: 92vh;
			padding-top: 5%;
			padding-right: 0;
			transform: translateX(100%);
			background-color: #1d1d1de8;
			transition: transform 0.3s ease-in-out;
			&.open {
				transform: translateX(0);
			}
			li {
				width: 100vw;
				margin-bottom: 1rem;
			}
			.menu-item {
				color: #ffffff;
				font-size: 24px;
				padding: 1rem 0 0.5rem 2rem;
				&:hover {
					color: #fff;
				}
			}
			.extra_menu_mobile_container {
				display: flex;
				margin-top: auto;
				margin-bottom: 2rem;
			}
		}
		.menu-btn {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 1.5rem;
			height: 1.5rem;
			cursor: pointer;
			z-index: 1;
			.menu-btn__lines,
			.menu-btn__lines::before,
			.menu-btn__lines::after {
				width: 1.5rem;
				height: 0.1rem;
				background-color: #111111;
				transition: all 0.5s ease-in-out;
			}
			.menu-btn__lines::before,
			.menu-btn__lines::after {
				content: '';
				position: absolute;
			}
			.menu-btn__lines::before {
				transform: translateY(-0.5rem);
			}
			.menu-btn__lines::after {
				transform: translateY(0.5rem);
			}
			&.open .menu-btn__lines {
				transform: translateX(2rem);
				background-color: transparent;
			}
			&.open .menu-btn__lines::before {
				transform: rotate(45deg) translate(-1.5rem, 1.5rem);
				background-color: #000;
			}
			&.open .menu-btn__lines::after {
				transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
				background-color: #000;
			}
		}
	}

	.header {
		height: 650px;
		.header_background_container {
			height: unset;
			padding-bottom: 1rem;
			.header_data_container {
				width: unset;
				margin: 0.25rem 2rem;
				p {
					font-size: 40px;
					&.header__p {
						top: -3rem;
					}
				}

				.header__form {
					padding-top: 0.5rem;
					.header_input_container {
						flex-direction: column;
						margin: 0;
						.header__input {
							width: 100%;
							margin: 0.5rem;
						}
					}
				}
			}
		}
	}

	.willkommen {
		padding: 0 0 0 0.9rem;
		color: #1d1d1b;

		&::after {
			content: ' Allgeier Wohnbau – das ist ein Unternehmen mit Tradition und Weitsicht. Unser Familienbetrieb, 1972 gegründet, vermittelt seit fast 50 Jahren Menschen in Immobilien. Unter der Leitung von Geschäftsführer Alexander Vonalt vermitteln wir nicht nur Bestandsimmobilien, sondern entwickeln und setzen auch Wohnprojekte in der Region Freiburg im Breisgau, Gundelfingen und Umgebung um.';
			padding: 0.5rem 0rem 3rem 1.2rem;
			position: absolute;
			left: 1.2rem;
			width: 70%;
			font-size: 17px;
			line-height: 1.6;
			font-family: neueHaasDisplayRoman;
			color: #1d1d1b;
		}
		&__text {
			font-size: 32px;
			padding: 1rem 0 0 1.5rem;
			width: 70%;
		}
		&__p {
			padding: 1rem 0 0 1.5rem;
			font-size: 16px;
			width: 89%;
			display: none;
		}
	}

	.main {
		padding-top: 5%;
		&__div-überschrift {
			margin: 3rem 0 0 0.9rem;
			padding: 0rem 0 0 0.2rem;
		}
		&__projekte {
			font-size: 12px;
			padding-left: 1rem;
		}
		&__aktuelle {
			font-size: 28px;
			margin-bottom: 0;
			padding-left: 1rem;
		}
		&__figcaption {
			&::before {
				width: 40%;
			}
		}
		&__section {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			padding: 0;
			margin-left: 0.2rem;
		}
		&__cart {
			width: 400px;
			margin: 1rem 0 5rem 2rem;
		}
		&__cart:nth-of-type(4),
		&__cart:nth-of-type(5) {
			display: none;
		}
		&__cart-img {
			width: 100%;
		}
		&__mehre-rfahren {
			padding-top: 0.6rem;
		}
		&__button {
			font-size: 19px;
			padding: 0.2rem 0 0 7.5rem;
		}
		&__phone-icon {
			padding-left: 0.8rem;
		}
	}

	.rechteck33 {
		width: 100%;
		height: 100%;
		padding-bottom: 10%;
		padding: 0;
		display: inline-block;
		background-color: #484c55;
		position: static;
		padding: 0;
		&__text {
			position: static;
			margin: 0;
			padding: 0 0 3rem 0;
			z-index: 0;
		}
		&__img {
			height: 300px;
			width: 410px;
			margin: 3rem 0.8rem 0.3rem 1rem;
		}
		&__weiß {
			margin: 0 0 0 1rem;
			padding: 0 0 0 1rem;
		}
		&__15 {
			color: #be1622;
			font-size: 12px;
		}
		&__mehr-wohn {
			font-size: 28px;
			width: 80%;
		}
		&__p {
			font-size: 16px;
			color: #d5d5d5;
			padding: 0.5rem 0 0 2.3rem;
			width: 90%;
			line-height: 1.5;
		}
	}

	.rechteck35 {
		padding: 0;
		height: 70vh;
		margin: 8rem 0 2rem 0;
		&__überschrift {
			margin: 0 0 0 0.7rem;
			padding: 0 0 0 0.1rem;
		}
		&__rot {
			font-size: 12px;
			padding: 0 0 0 1rem;
		}
		&__marktrecht {
			font-size: 28px;
			width: 80%;
			padding: 0 0 0 1rem;
		}
		&__p {
			font-size: 16px;
			line-height: 1.8;
			padding: 1rem 2rem;
		}
		&__button {
			padding: 1rem 1rem;
			margin: 0rem 0 3rem 2rem;
		}
	}
	.rechteck37 {
		display: block;
		height: 100%;
		padding: 0 0 5rem 0;
		&__div-img,
		&__div-text {
			width: 100%;
		}
		&__img {
			padding: 1rem 0 0 0;
			height: 386px;
			width: 400px;
			margin: 0rem 0.9rem;
		}
		&__überschrift {
			margin: 0 0 0 0.8rem;
			padding: 0 0 0 1rem;
		}
		&__rot {
			font-size: 12px;
		}
		&__unser {
			font-size: 28px;
			width: 90%;
		}
		&__ul {
			padding: 0 2rem 0 1.2rem;
		}
		&__item {
			line-height: 1;
			padding: 0;
		}
	}
	.rechteck45 {
		width: 100%;
		padding: 0;
		height: 100%;
		&__überschrift {
			display: block;
		}
		&__data,
		&__inputs-div {
			width: 100%;
		}
		&__text {
			padding: 3rem 0 2rem 1.5rem;
			width: 80%;
		}
		&__ul {
			padding: 2rem;
			display: block;
		}
		&__inputs-div {
			gap: 0px;
		}
		&__text-input,
		&__text-input2 {
			height: 40px;
			width: 402px;
			margin: 1rem 0 1rem 2rem;
		}
		&__email-input {
			height: 40px;
			width: 402px;
			margin: 1rem 0 1rem 2rem;
		}
		&__nachricht-input {
			height: 25vh;
			width: 402px;
			padding-bottom: 20vh;
			padding-left: 0.8rem;
			margin: 1rem 0 1rem 2rem;
		}
		&__button {
			padding: 1.1rem 2rem;
			margin: 1rem 0 3rem 14rem;
		}
	}

	.footer {
		display: flex;
		padding: 1rem 0 2rem 1.5rem;
		width: 100%;
		height: 25vh;
			&::after {
				content: 'Design by';
				position: absolute;
				font-family: NeueHaasDisplayBold;
				color: rgba(0, 0, 0, 0.657);
				font-size: 16px;
				margin: 7rem 0rem 0rem 0.6rem;
		}
		&__img {
			display: none;
		}
		&__design {
			display: none;
		}
		&__ul {
			display: flex;
			list-style-type: none;
				&::before {
					width: 84%;
					position: absolute;
					margin-top: -2rem;
					margin-left: 0.3rem;
			}
		}
		&__Impressum {
			text-align: right;
			padding-left: 0.5rem;
		}
		&__datenschutz {
			padding-left: 4rem;
				&::after {
					content: url(../img/onoffice-logo@2x.png);
					position: absolute;
					font-size: 16px;
					margin: 6.3rem 0rem 0rem -8.5rem;
					transform: scale(0.5);
			}
		}
	}
}
