@charset "UTF-8";
@font-face {
  font-family: NeueHaasDisplayBold;
  src: url(../Font/NeueHaasDisplayBold.ttf);
}

@font-face {
  font-family: NeueHaasDisplayRoman;
  src: url(../Font/NeueHaasDisplayRoman.ttf);
}

@font-face {
  font-family: NeueHaasDisplayXThin;
  src: url(../Font/NeueHaasDisplayXThin.ttf);
}

@font-face {
  font-family: NeueHaasDisplayXXThin;
  src: url(../Font/NeueHaasDisplayXXThin.ttf);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.nav {
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
  background-color: #f9f9f9;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.nav .Logo {
  padding-left: 10rem;
}

.nav .menu-btn {
  display: none;
}

.nav .menu-items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 7rem;
}

.nav .menu-items .menu-item {
  font-size: 1rem;
  padding: 1em;
  -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  text-decoration: none;
  color: #111111;
  font-size: 16px;
  font-weight: bold;
  font-family: neueHaasDisplayRoman;
}

.nav .menu-items .menu-item:hover {
  background-color: #be1622;
  color: #f9f9f9;
}

.nav .menu-items .extra_menu_mobile_container {
  display: none;
}

.header {
  margin: 0;
  padding: 70px 0 0 0;
  background: url(../img/component.png) 15% no-repeat;
  background-size: cover;
  height: 604px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .header_background_container {
  background-color: #11111195;
  height: 36.5vh;
  width: 100%;
}

.header .header_background_container .header_data_container {
  position: relative;
  width: 70%;
  margin: 0.25rem auto;
}

.header .header_background_container .header_data_container p {
  color: #fff;
  font-size: 48px;
}

.header .header_background_container .header_data_container p.header__p {
  position: absolute;
  top: -3rem;
}

.header .header_background_container .header_data_container .header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5rem;
}

.header .header_background_container .header_data_container .header__form .header_input_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.header .header_background_container .header_data_container .header__form .header_input_container #select {
  color: rgba(0, 0, 0, 0.63);
  font-size: 16px;
  padding-right: 2rem;
}

.header .header_background_container .header_data_container .header__form .header_input_container .header__input {
  width: 25%;
  height: 40px;
  margin: 0 15px;
  font-size: 16px;
  padding-left: 1rem;
}

.header .header_background_container .header_data_container .header__form .header__submit {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 15px;
  background: none;
  color: #fff;
  border: 1px solid #be1622;
  padding: 1rem 2rem;
  font-size: 18px;
}

.header .header_background_container .header_data_container .header__form .header__submit:hover {
  background-color: #be1622;
  color: #f2f2f2;
}

.willkommen {
  height: 70vh;
  padding: 5rem 0 0 0;
  direction: ltr;
  color: #1d1d1b;
  opacity: 1;
}

.willkommen__text {
  font-size: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8em;
  font-family: NeueHaasDisplayXXThin;
}

.willkommen__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0 0 4rem;
  font-size: 16px;
  color: #1d1d1b;
  line-height: 1.8;
  font-family: neueHaasDisplayRoman;
}

.main {
  background-color: #f2f2f2;
  padding: 8rem 0 6rem 0;
}

.main__div-überschrift {
  margin: 0 0 5vh 11vw;
  padding: 0 0 0 1rem;
  border-left: 4px solid #be1622;
}

.main__projekte {
  color: #be1622;
  font-size: 16px;
  font-family: NeueHaasDisplayBold;
}

.main__aktuelle {
  font-size: 40px;
  font-family: NeueHaasDisplayXXThin;
}

.main__section {
  display: -ms-grid;
  display: grid;
  width: 90%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 0 0 0 10rem;
}

.main__cart {
  height: 489px;
  width: 350px;
  margin: 2rem 0 0 1rem;
  background: #fff;
}

.main__cart-img {
  height: 200px;
  width: 100%;
}

.main__figcaption::before {
  content: '';
  border: 3px solid #be1622;
  width: 10%;
  margin-top: -6px;
  position: absolute;
}

.main__cart-p {
  font-size: 22px;
  padding: 12px;
  font-family: NeueHaasDisplayXXThin;
}

.main__objekt {
  padding-right: 3rem;
}

.main__objekt, .main__wohnfläche {
  font-size: 15px;
  padding: 10px;
  color: #85857b;
  font-family: neueHaasDisplayRoman;
}

.main__nummer, .main__circa {
  font-size: 17px;
  padding: 10px;
  color: #000000;
  font-family: NeueHaasDisplayBold;
}

.main__span-hell-1 {
  padding-left: 7.3rem;
}

.main__span-hell-2 {
  padding-left: 6.9rem;
}

.main__span-dunkel-1 {
  padding-left: 7.8rem;
}

.main__span-dunkel-2 {
  padding-left: 7rem;
}

.main__mehre-rfahren {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #64645b2a;
  padding-top: 1rem;
}

.main__button {
  color: #be1622;
  background: none;
  border: none;
  font-size: 16px;
  padding-left: 6.5em;
  font-weight: bold;
}

.main__phone-icon {
  padding-left: 0.7rem;
  color: #85857b;
  opacity: 0.4;
}

.rechteck33 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #484c55;
  height: 1074px;
  position: relative;
  padding-top: 15vh;
}

.rechteck33__text {
  position: absolute;
  margin: 25vh 0vh 0 65vh;
  background-color: #484c55;
  z-index: 0;
}

.rechteck33__bild {
  z-index: 0;
}

.rechteck33__img {
  height: 70vh;
  width: 55vw;
  margin-left: -4.3vh;
}

.rechteck33__weiß {
  margin: 5vh 0 5vh 14vh;
  padding: 0 1rem;
  border-left: 4px solid #f2f2f2;
}

.rechteck33__15 {
  color: #be1622;
  font-size: 16px;
  font-family: NeueHaasDisplayBold;
}

.rechteck33__mehr-wohn {
  font-size: 40px;
  color: #f2f2f2;
  font-family: NeueHaasDisplayXXThin;
  width: 80%;
}

.rechteck33__p {
  font-size: 16px;
  color: #f2f2f2;
  font-family: neueHaasDisplayRoman;
  padding-left: 8rem;
  width: 85%;
  line-height: 1.6;
}

.rechteck35 {
  height: 70vh;
  margin: 8rem 0 5vh 20rem;
  direction: ltr;
  color: #1d1d1b;
  opacity: 1;
}

.rechteck35__überschrift {
  padding: 0 1rem;
  border-left: 4px solid #be1622;
}

.rechteck35__rot {
  color: #be1622;
  font-size: 16px;
  font-family: NeueHaasDisplayBold;
}

.rechteck35__marktrecht {
  font-size: 40px;
  color: #1d1d1b;
  font-family: NeueHaasDisplayXXThin;
  width: 80%;
}

.rechteck35__p {
  font-family: neueHaasDisplayRoman;
  font-size: 16px;
  line-height: 1.8;
  padding: 1.5rem 23rem 0 1.5rem;
}

.rechteck35__button {
  font-size: 16px;
  border: 1px solid #be1622;
  color: #be1622;
  padding: 1.1rem 2rem;
  background: none;
  font-family: NeueHaasDisplayBold;
  margin: 3rem 0 0 1.3rem;
}

.rechteck35__button:hover {
  background-color: #be1622;
  color: #f2f2f2;
}

.rechteck37 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #d5d5d5;
  height: 784px;
}

.rechteck37__div-img, .rechteck37__div-text {
  width: 50%;
}

.rechteck37__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 82%;
  margin: 6rem 6rem;
}

.rechteck37__überschrift {
  margin: 17vh 0 0vh 1vw;
  padding-left: 1rem;
  border-left: 4px solid #be1622;
}

.rechteck37__rot {
  color: #be1622;
  font-size: 16px;
  font-family: NeueHaasDisplayBold;
}

.rechteck37__unser {
  font-size: 40px;
  font-family: NeueHaasDisplayXXThin;
  width: 70%;
}

.rechteck37__ul {
  padding: 2rem 0 0 3rem;
}

.rechteck37__item {
  font-size: 16px;
  font-family: neueHaasDisplayRoman;
  line-height: 1.3;
  opacity: 0.7;
  list-style-type: none;
}

.rechteck37__item::before {
  content: '.';
  color: #be1622;
  padding-right: 15px;
  font-size: 30px;
}

.rechteck45 {
  background-color: #f2f2f2;
  height: 775px;
}

.rechteck45__überschrift {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rechteck45__data, .rechteck45__inputs-div {
  width: 50%;
}

.rechteck45__text {
  color: #85857b;
  font-size: 40px;
  font-family: NeueHaasDisplayBold;
  padding: 8rem 0 3rem 8rem;
}

.rechteck45__ul {
  padding: 0.1rem 8rem;
  list-style-type: none;
  line-height: 1.9;
}

.rechteck45__item {
  font-size: 16px;
  font-family: neueHaasDisplayRoman;
  opacity: 0.8;
}

.rechteck45__inputs-div {
  gap: 10px;
}

.rechteck45__text-input, .rechteck45__text-input2 {
  height: 40px;
  width: 270px;
  padding-left: 0.8rem;
  font-size: 16px;
}

.rechteck45__text-input2 {
  margin: 0 0 1.3rem 1.8rem;
  padding-left: 0.8rem;
  font-size: 16px;
}

.rechteck45__email-input {
  height: 40px;
  width: 574px;
  margin-bottom: 1.3rem;
  padding-left: 0.8rem;
  font-size: 16px;
}

.rechteck45__nachricht-input {
  height: 25vh;
  padding-bottom: 20vh;
  padding-left: 0.8rem;
  width: 574px;
  color: #000;
  font-size: 16px;
}

.rechteck45__button {
  font-size: 16px;
  border: 1px solid #be1622;
  color: #be1622;
  padding: 1.1rem 2rem;
  background: none;
  font-family: NeueHaasDisplayBold;
  margin: 3rem 0 3rem 22.8rem;
}

.rechteck45__button:hover {
  background-color: #be1622;
  color: #f2f2f2;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0 0 8rem;
  width: 100%;
  font-family: NeueHaasDisplayBold;
  color: rgba(0, 0, 0, 0.657);
}

.footer__img {
  width: 82px;
  height: 17px;
  margin-left: 3rem;
}

.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.footer__ul::before {
  content: '';
  border: 0.2px solid #85857b;
  width: 80.7%;
  position: absolute;
  margin-top: -2rem;
}

.footer__Impressum {
  padding-left: 46rem;
}

.footer__datenschutz {
  padding-left: 3rem;
}

@media screen and (max-width: 480px) {
  .nav .Logo {
    width: 171px;
    height: 33px;
    padding: 0;
  }
  .nav .menu-items {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 4rem;
    right: 0;
    left: 0;
    bottom: 0;
    height: 92vh;
    padding-top: 5%;
    padding-right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    background-color: #1d1d1de8;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .nav .menu-items.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav .menu-items li {
    width: 100vw;
    margin-bottom: 1rem;
  }
  .nav .menu-items .menu-item {
    color: #ffffff;
    font-size: 24px;
    padding: 1rem 0 0.5rem 2rem;
  }
  .nav .menu-items .menu-item:hover {
    color: #fff;
  }
  .nav .menu-items .extra_menu_mobile_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
    margin-bottom: 2rem;
  }
  .nav .menu-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1;
  }
  .nav .menu-btn .menu-btn__lines,
  .nav .menu-btn .menu-btn__lines::before,
  .nav .menu-btn .menu-btn__lines::after {
    width: 1.5rem;
    height: 0.1rem;
    background-color: #111111;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .nav .menu-btn .menu-btn__lines::before,
  .nav .menu-btn .menu-btn__lines::after {
    content: '';
    position: absolute;
  }
  .nav .menu-btn .menu-btn__lines::before {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  .nav .menu-btn .menu-btn__lines::after {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  .nav .menu-btn.open .menu-btn__lines {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
    background-color: transparent;
  }
  .nav .menu-btn.open .menu-btn__lines::before {
    -webkit-transform: rotate(45deg) translate(-1.5rem, 1.5rem);
            transform: rotate(45deg) translate(-1.5rem, 1.5rem);
    background-color: #000;
  }
  .nav .menu-btn.open .menu-btn__lines::after {
    -webkit-transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
            transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
    background-color: #000;
  }
  .header {
    height: 650px;
  }
  .header .header_background_container {
    height: unset;
    padding-bottom: 1rem;
  }
  .header .header_background_container .header_data_container {
    width: unset;
    margin: 0.25rem 2rem;
  }
  .header .header_background_container .header_data_container p {
    font-size: 40px;
  }
  .header .header_background_container .header_data_container p.header__p {
    top: -3rem;
  }
  .header .header_background_container .header_data_container .header__form {
    padding-top: 0.5rem;
  }
  .header .header_background_container .header_data_container .header__form .header_input_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .header .header_background_container .header_data_container .header__form .header_input_container .header__input {
    width: 100%;
    margin: 0.5rem;
  }
  .willkommen {
    padding: 0 0 0 0.9rem;
    color: #1d1d1b;
  }
  .willkommen::after {
    content: ' Allgeier Wohnbau – das ist ein Unternehmen mit Tradition und Weitsicht. Unser Familienbetrieb, 1972 gegründet, vermittelt seit fast 50 Jahren Menschen in Immobilien. Unter der Leitung von Geschäftsführer Alexander Vonalt vermitteln wir nicht nur Bestandsimmobilien, sondern entwickeln und setzen auch Wohnprojekte in der Region Freiburg im Breisgau, Gundelfingen und Umgebung um.';
    padding: 0.5rem 0rem 3rem 1.2rem;
    position: absolute;
    left: 1.2rem;
    width: 70%;
    font-size: 17px;
    line-height: 1.6;
    font-family: neueHaasDisplayRoman;
    color: #1d1d1b;
  }
  .willkommen__text {
    font-size: 32px;
    padding: 1rem 0 0 1.5rem;
    width: 70%;
  }
  .willkommen__p {
    padding: 1rem 0 0 1.5rem;
    font-size: 16px;
    width: 89%;
    display: none;
  }
  .main {
    padding-top: 5%;
  }
  .main__div-überschrift {
    margin: 3rem 0 0 0.9rem;
    padding: 0rem 0 0 0.2rem;
  }
  .main__projekte {
    font-size: 12px;
    padding-left: 1rem;
  }
  .main__aktuelle {
    font-size: 28px;
    margin-bottom: 0;
    padding-left: 1rem;
  }
  .main__figcaption::before {
    width: 40%;
  }
  .main__section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding: 0;
    margin-left: 0.2rem;
  }
  .main__cart {
    width: 400px;
    margin: 1rem 0 5rem 2rem;
  }
  .main__cart:nth-of-type(4), .main__cart:nth-of-type(5) {
    display: none;
  }
  .main__cart-img {
    width: 100%;
  }
  .main__mehre-rfahren {
    padding-top: 0.6rem;
  }
  .main__button {
    font-size: 19px;
    padding: 0.2rem 0 0 7.5rem;
  }
  .main__phone-icon {
    padding-left: 0.8rem;
  }
  .rechteck33 {
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
    padding: 0;
    display: inline-block;
    background-color: #484c55;
    position: static;
    padding: 0;
  }
  .rechteck33__text {
    position: static;
    margin: 0;
    padding: 0 0 3rem 0;
    z-index: 0;
  }
  .rechteck33__img {
    height: 300px;
    width: 410px;
    margin: 3rem 0.8rem 0.3rem 1rem;
  }
  .rechteck33__weiß {
    margin: 0 0 0 1rem;
    padding: 0 0 0 1rem;
  }
  .rechteck33__15 {
    color: #be1622;
    font-size: 12px;
  }
  .rechteck33__mehr-wohn {
    font-size: 28px;
    width: 80%;
  }
  .rechteck33__p {
    font-size: 16px;
    color: #d5d5d5;
    padding: 0.5rem 0 0 2.3rem;
    width: 90%;
    line-height: 1.5;
  }
  .rechteck35 {
    padding: 0;
    height: 70vh;
    margin: 8rem 0 2rem 0;
  }
  .rechteck35__überschrift {
    margin: 0 0 0 0.7rem;
    padding: 0 0 0 0.1rem;
  }
  .rechteck35__rot {
    font-size: 12px;
    padding: 0 0 0 1rem;
  }
  .rechteck35__marktrecht {
    font-size: 28px;
    width: 80%;
    padding: 0 0 0 1rem;
  }
  .rechteck35__p {
    font-size: 16px;
    line-height: 1.8;
    padding: 1rem 2rem;
  }
  .rechteck35__button {
    padding: 1rem 1rem;
    margin: 0rem 0 3rem 2rem;
  }
  .rechteck37 {
    display: block;
    height: 100%;
    padding: 0 0 5rem 0;
  }
  .rechteck37__div-img, .rechteck37__div-text {
    width: 100%;
  }
  .rechteck37__img {
    padding: 1rem 0 0 0;
    height: 386px;
    width: 400px;
    margin: 0rem 0.9rem;
  }
  .rechteck37__überschrift {
    margin: 0 0 0 0.8rem;
    padding: 0 0 0 1rem;
  }
  .rechteck37__rot {
    font-size: 12px;
  }
  .rechteck37__unser {
    font-size: 28px;
    width: 90%;
  }
  .rechteck37__ul {
    padding: 0 2rem 0 1.2rem;
  }
  .rechteck37__item {
    line-height: 1;
    padding: 0;
  }
  .rechteck45 {
    width: 100%;
    padding: 0;
    height: 100%;
  }
  .rechteck45__überschrift {
    display: block;
  }
  .rechteck45__data, .rechteck45__inputs-div {
    width: 100%;
  }
  .rechteck45__text {
    padding: 3rem 0 2rem 1.5rem;
    width: 80%;
  }
  .rechteck45__ul {
    padding: 2rem;
    display: block;
  }
  .rechteck45__inputs-div {
    gap: 0px;
  }
  .rechteck45__text-input, .rechteck45__text-input2 {
    height: 40px;
    width: 402px;
    margin: 1rem 0 1rem 2rem;
  }
  .rechteck45__email-input {
    height: 40px;
    width: 402px;
    margin: 1rem 0 1rem 2rem;
  }
  .rechteck45__nachricht-input {
    height: 25vh;
    width: 402px;
    padding-bottom: 20vh;
    padding-left: 0.8rem;
    margin: 1rem 0 1rem 2rem;
  }
  .rechteck45__button {
    padding: 1.1rem 2rem;
    margin: 1rem 0 3rem 14rem;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 0 2rem 1.5rem;
    width: 100%;
    height: 25vh;
  }
  .footer::after {
    content: 'Design by';
    position: absolute;
    font-family: NeueHaasDisplayBold;
    color: rgba(0, 0, 0, 0.657);
    font-size: 16px;
    margin: 7rem 0rem 0rem 0.6rem;
  }
  .footer__img {
    display: none;
  }
  .footer__design {
    display: none;
  }
  .footer__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
  .footer__ul::before {
    width: 84%;
    position: absolute;
    margin-top: -2rem;
    margin-left: 0.3rem;
  }
  .footer__Impressum {
    text-align: right;
    padding-left: 0.5rem;
  }
  .footer__datenschutz {
    padding-left: 4rem;
  }
  .footer__datenschutz::after {
    content: url(../img/onoffice-logo@2x.png);
    position: absolute;
    font-size: 16px;
    margin: 6.3rem 0rem 0rem -8.5rem;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
/*# sourceMappingURL=style.css.map */